
.vs/SARndy-fork/v17/.wsuo
.vs/SARndy-fork/v17/Browse.VC.db
.vs/SARndy-fork/v17/Browse.VC.db-shm
.vs/SARndy-fork/v17/Browse.VC.db-wal
.vs/SARndy-fork/v17/Browse.VC.opendb
.vs/SARndy-fork/v17/ipch/AutoPCH/6a670abc966adca4/SURFACERENDERER.ipch
.vs/SARndy-fork/v17/ipch/AutoPCH/7f01d011f1efbf22/FRAC.ipch
.vs/SARndy-fork/v17/ipch/AutoPCH/bfcc35859f46d93d/WATERTABLE2.ipch
.vs/SARndy-fork/v17/ipch/AutoPCH/e5381a2b46ce22c2/RAINMAKER.ipch
.vs/SARndy-fork/v17/ipch/AutoPCH/edc9fe2983ad5d68/WATERRENDERER.ipch
.vs/SARndy-fork/v17/ipch/AutoPCH/fc03239e0a9cebf/SANDBOX.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
.vs/SARndy-fork/FileContentIndex/39532f69-5fdd-4729-819f-e0d8a1585b08.vsidx
